#footer-container {
	background: rgb(19,101,195); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(19,101,195,1) 0%, rgba(37,144,218,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(19,101,195,1) 0%,rgba(37,144,218,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(19,101,195,1) 0%,rgba(37,144,218,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1365c3', endColorstr='#2590da',GradientType=1 ); /* IE6-9 */
	box-shadow: 0 4px 14px 0 rgba(0,0,0,0.06);
	display: block;
	float: left;
	width: 100%;
	.assoc-logos {
		background: #fff;
		display: block;
		float: left;
		width: 100%;
		padding: 15px 0 18px 0;
	}
	.assoc-logo {
		display: inline-block;
		vertical-align: middle;
		margin: 0 2px;
	}
	p {
		font-size: 14px;
		color: #fff;
	}
	.address-phone {
		& > svg, img {
			float: left;
			margin-right: 33px;
			width: 154px;
			height: 154px;
			margin-top: 16px;
			margin-bottom: 16px;
		}
	}
	.toll-free {
		font-size: 24px;
	}
	.phone {
		font-size: 18px;
		display: inline-block;
		margin-bottom: 12px;
	}
	span.social {
		display: inline-block;
		margin: 0 0 0 16px;
		min-width: 76px;
		vertical-align: text-bottom;
	}
	p svg {
		display: inline-block;
		margin: 0 5px;
		max-height: 23px;
		max-width: 23px;
		fill: #fff;
		vertical-align: middle;
	}
	.address {
		display: block;
		float: left;
		margin-top: 36px;
	}
	#footer {
		max-width: 860px;
	}
	.footer-menu {
		display: block;
		float: left;
		margin: 40px 0 0 60px;
		border-left: solid 1px rgba(255,255,255,.2);
		#menu-main-menu-1 {
			margin: 5px 0 5px 55px;
		}
		ul {
			column-count: 2;
		}
		li.home {
			display: none;
		}
		li {
			list-style: none;
			a {
				color: #fff;
				margin: 5px 0;
				display: inline-block;
			}
		}
	}
	.sub-footer {
		padding: 10px 0 9px 0;
		background: rgba(0,0,0,.2);
		display: block;
		float: left;
		width: 100%;
		.row {
			max-width: 960px;
		}
		p {
			margin: 0;
			font-size: 12px;
		}
		a {
			color: #fff;
		}
	}
}