#footer-container {
	background: rgb(19,101,195); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(19,101,195,1) 0%, rgba(37,144,218,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(19,101,195,1) 0%,rgba(37,144,218,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(19,101,195,1) 0%,rgba(37,144,218,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1365c3', endColorstr='#2590da',GradientType=1 ); /* IE6-9 */
	box-shadow: 0 4px 14px 0 rgba(0,0,0,0.06);
	display: block;
	float: left;
	width: 100%;
	.assoc-logos {
		background: #fff;
		display: block;
		float: left;
		width: 100%;
		padding: 15px 0 18px 0;
		margin-bottom: 16px;
	}
	.assoc-logo {
		display: inline-block;
		vertical-align: middle;
		margin: 0 2px;
	}
	p {
		color: #fff;
	}
	.address-phone {
		svg, img {
			float: left;
			margin-right: 33px;
			width: 154px;
			height: 154px;
		}
	}
}

.social {
	svg {
		margin: 0 5px;
		max-height: 20px;
		max-width: 25px;
		fill: $primary-color;
		vertical-align: middle;
	}
}