@media only screen and (max-width: 40.063em) {
	.top-bar-left, .top-bar-right {
		width: 50%;
	}	
}

.top-bar-right {
	position: relative;
	@media only screen and (min-width: 40.063em) {
		margin-top: 12px;
	}
	& > div, & > a {
		display: inline-block;
		font-size: 14px;
		color: #788087;
		font-weight: 700;
		padding: 12px;
		@media only screen and (max-width: 40.063em) {
			padding: 15px;	
		}
		cursor: pointer;
		svg {
			vertical-align: middle;
			width: 16px;
			height: 16px;	
			margin-right: 8px;	
		}
		.close-menu {
			display: inline-block;
			width: 16px;
			height: 16px;
			line-height: 16px;
			text-align: center;
			font-size: 22px;
			margin-right: 8px;
			font-weight: 300;
		}
		&:hover, &.active {
			color: #fff;
			background: $primary-color;
			svg path {
				fill: #fff;
			}
		}
	}
	#products-icon {
		margin-right: 16px;
	}
	#menu-icon {
		text-transform: uppercase;
		&.active {
			svg {
				display: none;
			}
		}
		&:not(.active) {
			div {
				display: none;
			}
		}
	}
	ul#menu-main-menu:not(.active) {
		max-height: 0;
		opacity: 0;
		overflow: hidden;		
	}
	ul#menu-main-menu {
		max-height: 400px;
		transition: all .5s;
		-webkit-transition: all .5s; /* Safari and Chrome */
		-ms-transition: all .5s; /* Opera */
		background-image: linear-gradient(0, rgba(43,158,227,0.97) 5%, #1365C3 97%);
		box-shadow: 0 12px 24px 0 rgba(0,0,0,0.20), inset 0 -1px 0 0 rgba(255,255,255,0.10), inset 1px 0 0 0 rgba(255,255,255,0.10);
		padding: 16px;
		display: block;
		position: absolute;
		width: 262px;
		right: 0;
		z-index: -1;
		li {
			list-style: none;
			text-align: left;
			a {
				display: block;
				float: left;
				width: 100%;
				font-size: 20px;
				padding: 8px 20px;
				&:hover {
					background: rgba(255,255,255,.1);
				}
			}
		}
	}
}

a.logo {
	display: inline-block;
	margin: 8px;
	svg {
		width: 164px;
		height: 46px;
		display: block;
		@media only screen and (max-width: 40.063em) {
			width: 108px;
			height: 30px;
			float: left;
		}
	}
}

.header-container {
    @media only screen and (min-width: 40.063em) {
	    margin-bottom: 25px;
	}
}

header#masthead {
    position: relative;
    width: 100%;
    top: 0;
    //background: none;
    transition: background 500ms ease;
    -webkit-transition: background 500ms ease;
        display: block;
    width: 100%;
    float: left;

    @include breakpoint(medium) {

	    &.headroom--pinned:not(.headroom--top) {
			position: fixed;
			height: auto !important;
			top: -70px;
			background: #fff;
			transform: translateY(70px);
			transition: transform 500ms ease,background 900ms ease;
			-webkit-transition: transform 500ms ease,background 900ms ease;
			z-index: 99999;
			//border-bottom: solid 1px $medium-gray;
			box-shadow: 0px 0px 10px 2px rgba(0,0,0,.15);

			.top-bar-left a {
				img {
					min-height: 0;
				}
			}

			&+ section.container  {
				margin-top: 0px
			}
	    }
    }
}


.admin-bar header#masthead.headroom--pinned:not(.headroom--top) {
	top: -38px;
}

@media only screen and (max-width: 782px) {
	.admin-bar header#masthead.headroom--pinned:not(.headroom--top) {
		top: -24px;
	}
}

.icon-wrapper {
	display: inline-block;
}

// Mobile Stuff
@media only screen and (max-width: 40em) {
	.top-bar-left {
		a.logo {
			z-index: 9999;
			position: relative;
			float: left;
			margin: 10px 7px 10px 20px;
			img {
				max-height: 100%;
			}
		}
	}
	.top-bar-right {
		position: absolute;
		top: 0;
		z-index: 999;
		width: 100%;
	}
	.icon-wrapper {
		position: absolute;
		right: 0;
		top: 0;
		height: 64px;
		background: $primary-color;
	}
}

body > .animsition > section.container > section,
body > section.container > section,
body > .animsition > section.container > header,
body > section.container > header,
.header-wrapper {
	z-index: 1;
	position: relative;
}

.header-wrapper {
	z-index: 11;
}

.pre-header {
	padding: 5px 0;
	@media only screen and (max-width: 40.063em) {
		padding: 2px 0 1px 0;	
	}
	background-image: linear-gradient(-270deg, #1365C3 0%, #2B9EE3 100%);
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	a { 
		color: #fff;
		&:hover {
			text-decoration: underline;
		}
	}
	.ph-left, .ph-right {
		display: block;
		float: left;
		width: 50%;
	}
}