.entry-content > ul, section.section ul {
	> li {
		list-style: none;
		position: relative;
		padding-left: 18px;
		margin-bottom: 7px;
		&:before {
		    content: "";
		    width: 8px;
		    height: 14px;
		    position: absolute;
		    left: 0;
		    top: 4px;
		    background: url(../images/right-arrow.svg) center center no-repeat;
		    background-size: 8px 14px !important;
		}
	}
}