.button a, input.button {
	display: inline-block;
	margin-bottom: 10px;
	background: $primary-color;
	border: solid 2px $primary-color;
	color: $white;
	padding: 9px 22px;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	transition: all .5s;
	-webkit-transition: all .5s; /* Safari and Chrome */
	-ms-transition: all .5s; /* Opera */
	@include breakpoint(medium ) {
	    margin-right: 15px;
	}
	&:last-child {
		margin-right: 0;
	}	
	&:hover {
		background: transparent;
		color: $primary-color;
	}
}

.button.white a {
	background: #fff;
	color: #788087;
	border: none;
	&:hover {
		background: $primary-color;
		color: #fff;
	}
}

.button.arrow a {
	position: relative;
	padding-right: 46px;
}

.button.arrow a svg {
	display: block;
	position: absolute;
	width: 11px;
	height: 20px;
	right: 16px;
	top: 14px;
	background: url(../images/right-arrow.svg) center center no-repeat;
	background-size: 11px 20px;
	transition: all .5s;
	-webkit-transition: all .5s; /* Safari and Chrome */
	-ms-transition: all .5s; /* Opera */
}

.button.arrow a:hover svg polygon {
	fill: #fff;
}

.button.shadow a {
	box-shadow: 0 6px 12px 0 rgba(0,0,0,0.10);
}

.button.shadow a:active {
	box-shadow: none;
}

.button.full-width a {
	width: 100%;
	margin: 0 auto;
	font-size: 25px;
}

.button.large a {
	padding: 20px 50px;
	font-size: 25px;
}