.button a, input.button, .faux-button {
	display: inline-block;
	margin-bottom: 10px;
	background: $primary-color;
	border: solid 2px $primary-color;
	color: $white;
	padding: 9px 22px;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	transition: all .5s;
	-webkit-transition: all .5s; /* Safari and Chrome */
	-ms-transition: all .5s; /* Opera */
	@include breakpoint(medium ) {
	    margin-right: 15px;
	}
	&:last-child {
		margin-right: 0;
	}	
	&:hover {
		background: transparent;
		color: $primary-color;
	}
}

.button.arrow a:hover svg polygon, .faux-button.arrow.white:hover svg polygon {
	fill: #fff;
}

.button.white a, .faux-button.white {
	background: #fff;
	color: #788087;
	border: none;
	&:hover {
		background: $primary-color;
		color: #fff;
	}
}

.button.green a {
	background: $secondary-color;
	border-color: $secondary-color;
	&:hover {
		background: transparent;
		color: $secondary-color;
		svg polygon {
			fill: $secondary-color;
		}
	}
}

.button.white.arrow, .faux-button.white.arrow {
	svg polygon {
		fill: $primary-color;
	}	
}

.button.arrow a, .faux-button.arrow {
	position: relative;
	padding-right: 46px;
}

.button.small a, .faux-button.small {
	font-size: 14px;
	font-weight: 700;
	padding-top: 6px;
	padding-bottom: 6px;
}

.button.arrow a svg, .faux-button svg {
	display: block;
	position: absolute;
	width: 11px;
	height: 20px;
	right: 16px;
	top: 14px;
	background-size: 11px 20px;
	transition: all .5s;
	-webkit-transition: all .5s; /* Safari and Chrome */
	-ms-transition: all .5s; /* Opera */
	polygon {
		fill: #fff;
	}
}

.button.arrow.small a svg, .faux-button.arrow.small svg {
	width: 8px;
	height: 14px;
	top: 9px;
}

.button.shadow a, .faux-button.shadow {
	box-shadow: 0 6px 12px 0 rgba(0,0,0,0.10);
}

.button.shadow a:active {
	box-shadow: none;
}

.button.full-width a {
	width: 100%;
	margin: 0 auto;
	font-size: 25px;
}

.button.large a {
	padding: 20px 50px;
	font-size: 25px;
}