section.hero {
	background-size: cover !important;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 100px 0 180px 0;
	@media only screen and (min-width: 1800px) {
		width: 1800px;
		left: 50%;
		margin-left: -900px;
	}
	@media only screen and (max-width: 40.063em) {
		padding: 65px 0 180px 0;	
	}
	.blue-overlay {
		display: block;
		position: absolute;
		z-index: -1;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		svg {
			display: block;
			float: left;
			height: 100%;
		}
	}
	.blue-css-overlay {
		display: block;
		position: absolute;
		top: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		opacity: 0.8;
		background-image: linear-gradient(-90deg, rgba(43,158,227,0.76) 8%, #1365C3 97%);
	}
	.hero-curve {
		display: block;
		float: left;
		width: 100%;
		height: 72px;
		svg {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	h1, h2 {
		color: #fff;
	}
	h1 {
		font-weight: 100;
		font-size: 39px;
		margin-bottom: 100px;
		@media only screen and (max-width: 64.063em) {
			font-size: 24px;
			display: inline-block;
			margin-bottom: 0;
			font-weight: 300;
			max-width: 470px;
			padding-right: 10px;
			padding-left: 10px;
		}
		@media only screen and (max-width: 40.063em) {
			font-size: 19px;	
		}
	}
	.hero-rule {
		display: block;
		position: absolute;
		height: 3px;
		width: 50%;
		left: 0;
		margin-top: -40px;
		background-image: linear-gradient(270deg, rgba(43,158,227,0.00) 0%, #2B9EE3 20%, #2B9EE3 100%);
	}
	h2 {
		font-size: 20px;
		line-height: 1.5;
		@media only screen and (max-width: 40.063em) {
			font-size: 16px;	
		}
	}
	.scroll-down {
		display: inline-block;
		cursor: pointer;
		width: 64px;
		height: 64px;
		border-radius: 32px;
		background: #FFFFFF;
		box-shadow: 0 12px 14px 0 rgba(0,0,0,0.20);
		text-align: center;
		@media only screen and (min-width: 64.063em) {
			display: block;
			position: absolute;
			bottom: 53px;
			left: 50%;
			margin-left: -32px;
		}
		@media only screen and (max-width: 64.063em) {
			margin-top: -32px;
			margin-bottom: 25px;
		}		
		svg {
			display: inline-block;
			margin-top: 24px;
			width: 12px;
			height: 20px;
			transform: rotate(90deg);
			polygon {
				fill: $secondary-color;
			}
		}
	}
	@media only screen and (max-width: 64.063em) {
		.hero-subheader	{
			display: block;
			float: left;
			width: 100%;
			background: #fff;
			padding: 0 0 30px 0;
			h2 {
				display: inline-block;
				max-width: 600px;
				color: #788087;
			}
		}
	}
}

// IE doesn't support SVG gradient opacity so this is a fix.
body.ie section.hero .blue-overlay, body.windows section.hero .blue-overlay {
	opacity: .84;
}

.bounce {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
}
.animated{
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-ms-animation-fill-mode:both;
	-o-animation-fill-mode:both;
    animation-iteration-count: 3;
    -moz-animation-iteration-count: 3;
    -webkit-animation-iteration-count: 3;
	-webkit-animation-duration:2s;
	-moz-animation-duration:2s;
	-ms-animation-duration:2s;
	-o-animation-duration:2s;
	animation-duration:2s;
}

@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

section.history {
	box-shadow: 0 4px 14px 0 rgba(0,0,0,0.06);
	h2 {
		margin-bottom: 16px;
	}
	h3 {
		color: #788087;
		font-size: 20px;
		display: block;
		max-width: 340px;
		line-height: 1.4;
	}
	.history-left {
		position: relative;
		z-index: 2;
		padding: 50px 40px 40px 85px;
		@media only screen and (max-width: 40.063em) {
			padding: 20px 16px;	
		}
		.button {
			display: block;
			float: right;
			margin-right: -124px;
			@media only screen and (max-width: 40.063em) {
				margin-right: 25px;
				margin-top: 10px;
			}
		}
		h3 {
			display: block;
			float: left;
			width: 100%;
			padding-right: 40px;
		}
	}
	.history-right {
		@media only screen and (min-width: 40.063em) {
			position: absolute;
			height: 100%;
			right: 0;
			top: 0;
		}
		h3 {
			font-weight: 700;
			font-size: 16px;
			color: #fff;
		}
		background-size: cover !important;
		background-position: center center;
		padding-top: 24px;
		padding-bottom: 24px;
		img {
			width: 225px;
		}
		@media only screen and (max-width: 40.063em) {
			.show-for-small {
				float: left;
				width: 50%
			}	
		}
		.history-logo-center {
			@media only screen and (max-width: 40.063em) {
				max-width: 40%;
				float: left;
				margin-right: 13px;
				margin-left: 10px;					
			}
		}
	}
}

.columns.right {
	float: right;
}

@media only screen and (min-width: 1168px) {
	.slide-right {
		right: -45px !important;
	}
	.slide-left {
		left: -45px !important;
	}
}

section.management {
	.manage-left {
		@media only screen and (min-width: 40.063em) {
			position: absolute;
			height: 100%;
			left: 0;
			top: 0;
		}
		background-size: cover !important;
		background-position: center center;
		@media only screen and (max-width: 40.063em) {
			height: 255px;	
		}
	}
	.manage-right {
		padding: 50px 85px 40px 40px;
		@media only screen and (max-width: 40.063em) {
			padding: 24px 16px 36px 16px;
		}	
	}
}

.inline-arrow {
	white-space: nowrap;
	text-transform: uppercase;
	font-size: 12px;
	color: #2B9EE3;
	svg {
		width: 8px;
		height: 13px;
		vertical-align: text-top;
		margin-left: 8px;
		polygon {
			fill: #2B9EE3;
		}
	}
}

section.container > .row > section {
	display: block;
	float: left;
	width: 100%;
	position: relative;
}

section.features {
	background: url(../images/features-bg.jpg) center center no-repeat;
	background-size: cover !important;
	padding: 46px 40px 22px 40px;
	@media only screen and (max-width: 40.063em) {
		padding: 28px 10px 20px 10px;	
	}
	.button {
		display: inline-block;
	}
	.features-header {
		margin-bottom: 40px;
	}
	h2 {
		color: #fff;
		font-size: 30px;
		display: inline-block;
		margin-right: 27px;
		@media only screen and (max-width: 40.063em) {
			font-size: 20px;
			margin-right: 0;
			margin-bottom: 16px;	
		}
	}
	.bullet-block {
		margin-bottom: 24px;
	}
	.block-header {
		background: #2b9ee3;
		padding: 10px;
		h3 {
			display: inline-block;
			color: #fff;
			font-weight: 700;
			font-size: 20px;
			margin: 0;
			vertical-align: middle;
			@media only screen and (max-width: 64.063em) {
				font-weight: 500;
				font-size: 16px;	
			}
		}
		svg {
			margin-right: 10px;
			vertical-align: middle;
			max-width: 28px;
			max-height: 28px;
		}
	}
	.bullet-block-inner, .feature-block-inner {
		display: block;
		float: left;
		width: 100%;
		background: #e9f0f9;
		.block-content {
			display: block;
			float: left;
			width: 100%;
			padding: 25px 30px 10px 30px;
		}
		ul {
			margin: 0;
		}
		li {
			font-weight: 300;
			font-size: 16px;
			margin-bottom: 16px;
		}
	}
	.feature-block-inner {
		padding-bottom: 0;
		p {
			font-size: 16px;
			font-weight: 300;
		}
	}
}

section.solutions {
	.solutions-guide {
		box-shadow: 0 4px 14px 0 rgba(0,0,0,0.06);
		@media only screen and (min-width: 40.063em) {
			padding-bottom: 35px;
		}
		position: relative;
	}
	.solutions-header {
		display: block;
		float: left;
		width: 100%;
		padding: 30px 45px;
		@media only screen and (max-width: 64.063em) {
			padding: 30px;	
		}
		@media only screen and (max-width: 40.063em) {
			padding: 12px 23px;
		}
		h2 {
			font-size: 30px;
			@media only screen and (max-width: 40.063em) {
				font-size: 22px;	
			}
			color: #1365C3;
			span {
				font-size: 18px;
				@media only screen and (max-width: 40.063em) {
					font-size: 16px;	
				}
				color: #788087;
				white-space: nowrap;
			}
		}
		.header-rule {
			display: block;
			position: absolute;
			height: 2px;
			width: 70%;
			left: 272px;
			top: 82px;
			background-image: linear-gradient(270deg, rgba(43,158,227,0.00) 0%, #2B9EE3 50%, #1365C3 100%);
			@media only screen and (max-width: 64.063em) {
				display: none;	
			}
		}
	}
	.steps {
		.step {
			display: block;
			float: left;
			width: 100%;
			padding: 12px 45px;
			@media only screen and (max-width: 64.063em) {
				padding: 12px 30px;	
			}
			@media only screen and (max-width: 40.063em) {
				box-shadow: 0 4px 14px 0 rgba(0,0,0,0.06);
			}
			h3 {
				display: inline-block;
				font-size: 16px;
				font-weight: 700;
				color: #C1C4C7;
				position: relative;
				margin: 0;
			}
			span.number, span.checkmark {
				display: inline-block;
				width: 28px;
				height: 28px;
				padding-top: 4px;
				margin-right: 8px;
				border-radius: 14px;
				text-align: center;
				@media only screen and (min-width: 40.063em) {		
					&:before {
						content: "";
						display: block;
						position: absolute;
						opacity: 0.2;
						width: 2px;
						height: 26px;
						left: 13px;
						top: -24px;
						background-image: linear-gradient(0deg, #C6C6C6 100%, #FFFFFF 0%);
					}
				}
			}
			span.number {
				color: #fff;
				background: #C1C4C7;
			}
			&.step-1 span.number:before {
				display: none;
			}
			span.checkmark {
				display: none;
				background: #788087;
				svg {
					width: 16px;
					height: 16px;
				}
			}
			p, h4, .button {
				display: none;
			}
			p {
				font-size: 14px;
				color: #788087;
				font-weight: 300;
			}
			&.active {
				background: #FFFFFF;
				box-shadow: 0 4px 14px 0 rgba(0,0,0,0.06);
				width: 105%;
				position: relative;
				z-index: 1;
				@media only screen and (min-width: 64.063em) {
					margin-bottom: 12px;
				}
				p, h4, .button {
					display: block;
				}
				p {
					display: block;
					width: 100%;
				}
				h3 {
					color: #69C13C;
					margin-bottom: 10px;
				}
				span.number {
					background: $secondary-color;
					&:before {
						display: none;
					}
				}
			}
			&.completed {
				h3 {
					color: #788087;
				}
				span.number {
					display: none;
				}
				span.checkmark {
					padding-top: 6px;
					display: inline-block;
					svg polygon {
						fill: #fff;
					}
				}				
			}
			.edit-step {
				display: none;
			}
			&.completed .edit-step {
				display: inline-block;
				text-decoration: underline;
				color: #737373;
				font-size: 14px;
				margin-left: 16px;
				cursor: pointer;
			}
		}
		.step-3 {
			h4 {
				font-size: 26px;
				margin: 24px 0 18px 0;
			}
			p {
				font-size: 18px;
				margin-bottom: 24px;
			}
		}
		.step-1 .checkmark:before {
			display: none !important;
		}
	}
	.subcats-selected {
		font-size: 14px;
		color: #788087;
		font-weight: 300;
		position: relative;
		padding: 20px 36px;
		margin-bottom: -12px;
		display: none;
		@media only screen and (min-width: 40.063em) {
			&:before {
				content: "";
				display: block;
				position: absolute;
				opacity: 0.2;
				width: 2px;
				height: 100%;
				left: 13px;
				top: 0;
				background-image: linear-gradient(0deg, #C6C6C6 100%, #FFFFFF 0%);
			}
		}
	}
	.step.completed .subcats-selected {
		display: block;
	}
	.cat-icons {
		background-color: #f8f9f9;
		float: right;
		background-image: url(../images/cat-bg.jpg);
		background-position: right center;
		background-repeat: no-repeat;
		background-size: cover !important;
		padding: 145px 50px 50px 50px;
		@media only screen and (max-width: 64.063em) {
			padding: 40px 50px;	
		}
		@media only screen and (max-width: 770px) {
			padding: 20px;	
		}		
		@media only screen and (max-width: 670px) {
			padding: 20px 10px 20px 16px;	
		}	
		@media only screen and (max-width: 40.063em) {
			padding: 20px;
			width: 100%;
			&.cat-match {
				padding: 0;
			}
		}		
	}
}

.cat-icons {
	.cat-icon svg {
		width: 48px;
		height: 48px;
		margin-bottom: 6px;
	}
	.sub-cat:not(.active) {
		max-height: 0;
		opacity: 0;
		overflow: hidden;
	}
	a.cat-icon {
		border: solid 2px transparent;
		display: block;
		float: left;
		vertical-align: top;
		font-size: 14px;
		font-weight: 700;
		line-height: 1.2;
		width: 116px;
		height: 116px;
		@media only screen and (max-width: 40.063em) {
			width: 33%;	
		}
		text-align: center;
		padding: 18px 4px 4px 4px;
		color: #788087;
		&:hover, &.active {
			color: $secondary-color;
			border-color: #69C13C;
			background: rgba(#69C13C, .05);
			svg path {
				fill: #69C13C;
			}
		}
	}
	.subcat-cont.disabled {
		background: #ccc;
		color: #999;
		border-color: #ccc;
		cursor: default;
		pointer-events: none;
		svg polygon {
			fill: #999 !important;
			stroke: #999 !important;
		}
	}		
}

.subcat-checkboxes {
	margin-bottom: 25px;
	.checkbox {
		margin-bottom: 12px;
	}
}

.tag-filters {
	display: block;
	float: left;
	width: 100%;
}

section.solutions .cat-products {
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	&.active {
		max-height: none;
		opacity: 1;
		@media only screen and (min-width: 1026px) {
			margin-top: -110px;
		}
		@media only screen and (max-width: 40.063em) {
			padding: 20px;	
		}
	}
}

.cat-product {
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	&.active.tag-active {
		max-height: 500px;
		opacity: 1;
		padding: 20px;
		margin-bottom: 16px;
	}
	float: left;
	width: 100%;
	background: #FFFFFF;
	img {
		margin-bottom: 8px;
		float: left;
		@media only screen and (min-width: 40.063em) {
			width: 157px;
			margin-right: 20px;
		}
		@media only screen and (max-width: 40.063em) {
			width: 100%;	
		}
	}
	h3 {
		color: $primary-color;
		font-size: 20px;
	}
	p {
		font-size: 14px;
		font-weight: 300;
	}
	.tags {
		display: block;
		float: left;
		clear: left;
		color: #737373;
		margin-bottom: 8px;
		.tag {
			font-size: 14px;
			color: #737373;
			&.active {
				color: $primary-color;
			}
		}
	}
	.faux-button-container {
		display: block;
		float: left;
		width: 100%;
		@media only screen and (max-width: 40.063em) {
			margin-top: 16px;	
		}
	}
	.faux-button {
		display: block;
		float: right;
		margin: 0;
		@media only screen and (max-width: 40.063em) {
			display: inline-block;
			float: none;	
		}
	}
}

.cat-products.active:not(.filtered) {
	.cat-product.active {
		max-height: 600px;
		opacity: 1;
		padding: 20px;
		margin-bottom: 16px;		
	}
}


.tag-filters {
	.filter-header {
		display: block;
		float: left;
		width: 100%;
		@media only screen and (min-width: 40.063em) {
			line-height: 39px;
		}
	}
	font-size: 14px;
	@media only screen and (max-width: 40.063em) {
		font-size: 17px;	
	}
	font-weight: 700;
	color: $primary-color;
	svg {
		width: 16px;
		height: 16px;
		@media only screen and (max-width: 40.063em) {
			display: none;	
		}
	}
	.filter {
		cursor: pointer;
		display: inline-block;
		border: 1px solid rgba(#1365C3, .2);
		border-radius: 100px;
		padding: 4px 12px;
		margin: 4px;
		font-weight: 300;
		line-height: initial;
		color: #788087;
		&:hover {
			color: $primary-color;
			background: rgba($primary-color, .2);
		}
		&.active {
			color: #fff;
			background: $primary-color;
		}
	}
	.filters-inner {
		display: block;
		float: left;
		width: 100%;
		margin: 30px 0 21px 0;
		@media only screen and (max-width: 40.063em) {
			margin: 16px 0 21px 0;
		}
	}
	.remove-all-tags {
		display: none;
		&.active {
			display: inline-block;
		}
	}
}

#no-matches {
	display: block;
	float: left;
	width: 100%;
	background: #f6f6f7;
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	&.active {
		max-height: 1200px;
		opacity: 1;
		padding: 30px 50px;
		border: 4px solid #f2f2f2;
	}	
	h2 {
		color: $primary-color;
		margin-bottom: 20px;
	}
	h3 {
		color: #2B9EE3;
		font-size: 18px;
		margin-bottom: 24px;
	}
	@media only screen and (min-width: 40.063em) {
		ul {
			column-count: 2;
		}
	}
	li {
		font-size: 16px;
		font-weight: 300;
		margin-bottom: 14px;
	}
	.button a {
		font-size: 17px;
		svg {
			top: 11px;
		}
	}
}

section.custom {
	padding: 40px 0 0 0;
	background-size: cover !important;
	background-position: center center;
	h2, p {
		color: #fff;
	}
	h2 {
		font-size: 30px;
		margin-bottom: 24px;
		@media only screen and (max-width: 40.063em) {
			font-size: 22px;
			margin-bottom: 16px;
			display: inline-block;
			max-width: 240px;
		}
	}
	p {
		font-size: 22px;
		padding-right: 170px;
		@media only screen and (max-width: 40.063em) {
			font-size: 18px;
			padding-right: 0;
			margin-bottom: 16px;
			display: inline-block;
			max-width: 250px;
		}
	}
	.button {
		margin-bottom: 34px;
		@media only screen and (min-width: 40.063em) {
			margin-top: -70px;
			float: right;
			margin-bottom: 50px;
		}
		a {
			color: $secondary-color;
			svg polygon {
				fill: $secondary-color !important;
			}
			&:hover {
				svg polygon {
					fill: #fff !important;
				}
			}
		}
	}
	.custom-call {
		display: block;
		float: left;
		width: 100%;
		padding: 16px 8px 3px 8px;
		background-image: linear-gradient(-269deg, rgba(#69C13C, .8) 0%, rgba(#BDEC51, .8) 98%);
		h3 {
			color: #fff;
			font-weight: 700;
			span {
				font-size: 30px;
				font-weight: 300;
			}
		}
	}
}

.hide-for-medium-down {
	@media only screen and (max-width: 64.063em) {
		display: none !important;	
	}
}

.show-for-medium-down {
	@media only screen and (min-width: 64.063em) {
		display: none !important;	
	}
}

@media only screen and (max-width: 40.063em) {
	.small-text-left {
		text-align: left;
	}	
}

.step.completed + .cat-icons, .step:not(.active) + .cat-icons {
	padding: 0;
}

.show-for-small.steps .step {
	padding: 0 !important;
	&.active {
		padding: 12px 30px !important;
	}
}