.post-meta li {
    float: left;
    list-style: none;
    margin-right: 14px;
    color: #C1C4C7;
    font-weight: 300;
    font-size: 14px;
}

.blog-search {
	margin-bottom: 50px;
}

.blogpost-entry { 
	header {
		.featured-image {
			float: left;
			margin-right: 23px;
		}
		h2 {
			font-size: 20px;
		}
		.post-meta li {
			font-size: 14px;
			color: #C1C4C7;
		}
	}
	.entry-content p {
		font-size: 14px;
		color: #788087;
	}
}